@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #1D1D1D;
}
#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img img{
    width: 32rem;
}

#calculator{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #FFFFFF ;
    background-color: #3885dd ;
    border-radius: 9px;

}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title{
    font-size: 2rem;
    font-weight: 600;
    position: relative;
}

#title::after{
    content: '';
    position: absolute;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #CCCCCC ;
    border-radius: 10px;
}

.input-box label{
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffffe0;
}
.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e2e2e2e0;
    padding: 0.3rem;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.input-field span, .input-field i{
    color: #000;
    font-size: 1.3rem;
    padding: 0 0.5rem;
}

.input-field input{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: #000000;
    padding: 0.5rem;
}
.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.input-field input:focus	{
    outline: none;
}
#calculate{
    background-color: #000000;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.475s;
}
#calculate:hover{
    background-color: #161616 ;
    transform: scale(1.05);
}
#result{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #f3f3f3e0;
    padding: 0.75rem 0;
}
#bmi{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    flex-direction: column;
}
#bmi span:last-child{
    font-size: 0.875rem;
    color: #f7f7f7;
}

#bmi span{
    transition: 0.475s;
    font-weight: 600;
    cursor: pointer;
    gap: 0.5rem;
}
#bmi span:hover{
    color: #ffffffe0;
}

#description{
    width: 16rem;
}
#more-info{
    padding-top: 1.5rem;
    border-top:  1px solid #f3f3f3e0;
}

#more-info a{
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    transition: color 0.475s;
}
#more-info a:hover{
    color: #f3f3f3e0 ;
    font-size: 1.2rem;
}

.hidden{
    display: none;
}  

.low{
    color: #f70f0f;
}


.normal{
    color: #4CAF50;
}
.high{
    color: #FF9800;
}
.very-high{
    color: #f54814;
}
.extreme{
    color: #f70f0f;
}
@media screen and (max-width:1024px){
    #img img{
        display: none;
    }
}
    @media screen and (max-width:500px){
        #container{
            width: 100%;
            height: 100%;
            gap: 0;     
            overflow: hidden;
        }
        #calculator{
            width: 100%;
            height: 100%;
            border-radius: 0;
            justify-content: center;
        }
        #result{
            flex-direction: column;
            gap: 1rem;
        }
        #bmi{
            flex-direction: row;
            gap: 1rem;
        }
        #description{
            width: 100%;
            text-align: center;
            justify-content: center;
        }
        #more-info{
            padding-top: 0;
        }
        #more-info a{
            font-size: 1rem;
        }
        #more-info a:hover{
            font-size: 1rem;
        }
        #form{
            gap: 1rem;
        }
        #title{
            font-size: 1rem;
        }
        #title::after{
            width: 5rem;
            height: 2px;
        }
        #calculate{
            font-size: 1rem;
        }
        #bmi span{
            font-size: 1.5rem;
        }
        #bmi span:last-child{
            font-size: 0.75rem;
        }
        #span{
            font-size: 0.75rem;
            text-align: center;
            justify-content: center;
        }
        #result{
            padding: 0.5rem 0;
        }
        #input-field input{
            font-size: 1rem;
        }
        #input-field span, .input-field i{
            font-size: 1rem;
        }
        #input-box label{
            font-size: 1rem;
        }
        
    }
    

    
